# Python bytecode
__pycache__/
*.pyc

# Virtual environment directories
.venv/
env/

# IDE configuration files
.vscode/
.idea/

# Environment variable file
.env

# Big files/data
data/erol_gungor_docs

# picture
erol_gungor.jpg